*.bak
*.class
*.egg-info/
*.jar
*.log
*.nupkg
*.py[cod]
*.pyo
*.suo
*.tmp
*.user
*.war
.DS_Store
.env
.gradle/
.idea/
.mypy_cache/
.pytest_cache/
.venv/
.vs/
.vscode/
__pycache__/
bin/
build/
dist/
htmlcov/
obj/
packages/
target/
venv/
